:root {
  --theme: #b3e5fc;
  --primary: #82b3c9;
  --secondary: #e6ffff;
}

/* Font */
@font-face {
  font-family: "Sunflower";
  src: url("./fonts/Sunflower.otf") format("otf"),
    url("./fonts/Sunflower.woff2") format("woff2"),
    url("./fonts/Sunflower.woff2") format("woff");
  font-display: block;
}

/* Body */
body {
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}
#header {
  width: 100%;
  transition: 200ms;
}

/* Text */
h1,
h2,
h3 {
  font-family: "Sunflower", serif;
}
a {
  color: white;
  text-decoration: underline;
  fill: white;
}
a:hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
#title {
  font-size: 48pt;
  color: white;
}
#subtitle {
  color: white;
}
.scroll {
  color: white;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5) 0,
    white 10%,
    rgba(255, 255, 255, 0.5) 20%
  );
  background-position: 0;
  background-clip: text;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
}

@keyframes shine {
  from {
    background-position: 0%;
  }
  to {
    background-position: calc(77px);
  }
}

/* Buttons */
.btn-primary {
  background-color: var(--primary);
  color: var(--primary);
}
.btn-secondary {
  background-color: var(--secondary);
  color: var(--secondary);
}

/* Images */
/* img {} */
