:root {
  --theme: #283593;
  --primary: #001064;
  --secondary: #5f5fc4;
}

/* Font */
@font-face {
  font-family: "Sunflower";
  src: url(./fonts/Sunflower.woff2);
}

/* Body */
body {
  background-size: cover;
  background-repeat: no-repeat;
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}
#header {
  width: 100%;
  transition: 200ms;
}
.full {
  transition: height 200ms ease-in-out;
}

/* Text */
h1,
h2,
h3 {
  font-family: "Sunflower", serif;
}
#title {
  font-size: 48pt;
  color: white;
}
#subtitle {
  color: white;
}

/* Buttons */
.btn-primary {
  background-color: var(--dark-primary);
  color: var(--dark-primary);
}
.btn-secondary {
  background-color: var(--dark-secondary);
  color: var(--dark-secondary);
}
